@import "tailwindcss";

:root {
  --color-primary: #000000;
  --color-secondary: #D94350;
  --green: #05F258;
  --bright-green: #00FE66;
  --orange: #FFAD33;
  --red: #FB1313;
  --yellow: #EEFF61;
  --teal: #184A47;
  --gray: #C0C0C0;
  --font-poppins: 'Poppins', sans-serif;
}


.font-poppins {
  font-family: var(--font-poppins), sans-serif;
}

